<h1>Play with your first Rails website</h1>

<p>After checking to make sure your Rails project is being served to the browser, there are a few things that need to be changed in order to set the display to let us view what we want. Do not worry if you do not understand everything - you will learn the technical explanation for what is happening in the upcoming lessons.</p>
